.yourplaylists-container {
    margin-top: 100px;
   
  }
  
  .yourplaylists-container .MuiGrid-item > .MuiPaper-root {
    transition: background-color 0.3s;
    padding:13px;

  }

  .yourplaylists-container .MuiGrid-item:hover > .MuiPaper-root {
    background-color: rgb(179, 178, 179);
  }