h1{
    display: grid;
    justify-content: center;
    text-align: center;
    margin-top:100px;
    color:white;
    transition: background-color 0.3s;
    width:300px;
    border-radius: 50px;
    
  }
  h1:hover{
    background-color:#333333;
}
.albumsongs-container{

  background-color: #f2f2f2;
}